body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Verdana";
  height: 100vh;
  background-color: #eeeeee;
}

.calculator {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin: 0 0 16px;
  color: #333333;
}

.input-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 10px;
}

input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 60px;
  background-color: #777777;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444444;
}

#result {
  margin-top: 16px;
  font-size: 18px;
}
